<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Peer Reviews</title>

<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">


      <meta name="twitter:card" content="summary" />

      {% if title %}
      <meta property="og:title" content="{{ title }}" />
      {% endif %}

      {% if description %}
      <meta name="description" content="{{ description | escape }}">
      <meta property="og:description" content="{{ description | escape }}" />
      {% endif %}

      {% if thumbnail %}
        <meta name="og:image" content="https://peerreviews.dev{{ thumbnail }}" />
        {% else %}
        <meta name="og:image" content="https://peerreviews.dev/images/favicons/apple-icon-180x180.png" />

      {% endif %}



    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
    <header>
        <nav class="navigation">
            <a class="logo" href="/">
            <picture>
              <source media="(max-width: 863px)" srcset="/images/logo-stacked.svg">
              <source media="(min-width: 864px)" srcset="/images/logo.svg">
              <img src="/images/logo.svg" alt="Chris standing up holding his daughter Elva">
            </picture>
            <div class="right-nav">
              <a href="/videos/">The Reviews</a>
              <a href="/about/">About</a>
              <a href="/sign-up">Request a Review</a>
            </div>
        </nav>
    </header>

    <main class="content">
        <h1>{{ title }}</h1>

        {% block mainContent %}
            {{ content | safe }}
        {% endblock mainContent %}
    </main>

  <footer class="site-footer">
    &copy; 2019 | <a href="https://learnbuildteach.com">Learn. Build. Teach</a> | <a href="https://codecontemporary.com">Code Contemporary</a>
  </footer>


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    </body>
</html>