{% extends "base.njk" %}

{% block mainContent %}
    {{ super() }}

    {% for author in collections.authors %}
        <div class="author">
            <img class="author__headshot" src="{{ author.data.headshot }}" alt="{{ author.data.title }} Headshot">
            <h3 class="author__name">{{ author.data.title }}</h3>
            <p class="author__bio">{{ author.data.bio }}</p>
            <a href="{{ author.data.url }}">Full Bio &raquo;</a>
        </div>
    {% endfor %}

{% endblock mainContent %}


