{% extends "base.njk" %}


{% block mainContent %}
{{ super() }}


<section class="latest-videos">
<h2>{{ gridTitle }}</h2>
<ul class="grid">
{% for video in collections.videos | reverse %}
    {% include "components/video-grid-item.njk" %}
{% endfor %}
</ul>

</section>

{% endblock mainContent %}
