{% extends "base.njk" %}

{% block mainContent %}

{{ super() }}

<ul class="grid">
{% for video in collections.videos %}
    {% include "components/video-grid-item.njk" %}
{% endfor %}
</ul>


{% endblock mainContent %}
